.topbar form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.searchbox{
    border-radius: 5px;
    flex:1;
    padding:8px;
    border: 1px solid black;
}
.main{
    margin-top: 5px;
}
.header-row{
    display: grid;
  /* Chia 6 cột: Mã(100px), Tên(1.5fr), NCC(1fr), Giá(1fr), SL(100px), Thao tác(220px) */
    grid-template-columns: 100px 2fr 150px 100px 100px 1fr;
    padding: 12px 15px;
    gap: 10px;
    align-items: center;
    background-color: var(--xam);
    padding:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}
.header-row div{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.data-row{
    display: grid;
    grid-template-columns: 100px 2fr 150px 100px 100px 1fr;
    padding: 12px 15px;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid var(--xam);
}
.detailOverlay{
    position: fixed;
    top:0;left:0;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.5);
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.detail{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    /* max-width: 400px; */
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -60%); 
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    /* font-size: 40px; */
}
.detailOverlay.show {
    visibility: visible;
    opacity: 1;
}

.detailOverlay.show .detail {
    transform: translate(-40%, -50%); 
}
.closebtn{
    position: absolute; 
    top: 10px;          
    right: 15px;        
    
    background: none;   
    border: none;       
    font-size: 28px;    
    font-weight: bold;
    color: #333;
    cursor: pointer;    
    line-height: 1;
}