.topbar form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.searchbox{
    border-radius: 5px;
    flex:1;
    padding:8px;
    border: 1px solid black;
}
.main{
    margin-top: 5px;
}
.header-row{
    display: grid;
  /* Chia 6 cột: Mã(100px), Tên(1.5fr), NCC(1fr), Giá(1fr), SL(100px), Thao tác(220px) */
    grid-template-columns: 100px 2fr 150px 100px 100px 1fr;
    padding: 12px 15px;
    gap: 10px;
    align-items: center;
    background-color: var(--xam);
    padding:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header-row div{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.data-row{
    display: grid;
    grid-template-columns: 100px 2fr 150px 100px 100px 1fr;
    padding: 12px 15px;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid var(--xam);
}
.detail{
    display:none;
    position: absolute;
}